  <div class="col-md-6 px-1">
    <div class="card card-user">
      <img src="assets/logo.png" alt="Circle Image" class="img-circle img-no-padding img-responsive px-1">

      <div class="card-header">
        <h1 class="card-title">Cadastrar</h1>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-7 px-2">
              <div  class="form-group">
                <label>Nome</label>
                <input id="usuario.nome" class="form-control" placeholder="Nome" value="">
              </div>
            </div>
            <div class="col-md-7 px-2">
              <div  class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input  id="usuario.email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 px-2">
              <div class="form-group">
                <label>Senha</label>
                <input id="usuario.senha" class="form-control" placeholder="senha" value="">
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round"(click)="inserirUsuario()">Cadastrar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>








<!-- Path: src\app\usuario\cadastro-usuario\cadastro-usuario.component.html -->



