.card-title{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font: bold;
    background-color: white;
}

.card-header{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font: bold;
    background-color: white;
    align-items: center;
}

.card-body{
   margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font: bold;
    align-items: center;
    border-radius: 10px;
    align-content:center;

}

.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font: bold;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(223, 221, 221);
    display: block;


}

.card{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    text-align: center;
    font: bold;
}

